extends layouts/main-layout.pug

//- We are using the extends layout here 
//- here block will not defined the new hook instead it's helping me to add the content

block content
    h1 Page Not Found                
